<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ruby On Rails Tutorial App | Home</title>
</head>
<body>
	
<h1>Sample App</h1>
<p>
	This is the home for the Sample App for <a href='http://railstutorial.org'>Ruby On Rails Tutorial</a>
</p>

</body>
</html>

